<div fxLayout="row" fxLayoutAlign="end start" style="margin: 30px;">

    <mat-slide-toggle [(ngModel)]="tableView" style="margin-top: 15px;"><strong>Table View</strong></mat-slide-toggle>

    <button style="margin-left: 10px;" matTooltip="Create Todo Form" mat-icon-button color="primary" (click)="openDialog()"><mat-icon>note_add</mat-icon></button>

</div>

<div *ngIf="!tableView" style="margin: 20px;">

    <div class="example-container" [fxLayout]="onMobile() ? 'column' : 'row'" fxLayoutAlign="space-evenly"  fxLayoutGap="5px">

        <mat-card [style.width.px]="onMobile() ? '' : '500'" class="card" fxLayout="column" style="height: 470px; border-radius: 0px; border: 1px solid lightgray;">

            <div style="padding: 20px 10px;">
                <span style="background-color: #F8D7DA; padding: 10px;"><strong>Pending</strong></span>
            </div>

            <mat-divider></mat-divider>
            
            <div class="example-list" style="border-radius: 0px;" (cdkDropListDropped)="drop($event)"  cdkDropList [cdkDropListData]="pendingArr" [cdkDropListConnectedTo]="[doneList, inProgressList]" #pendingList="cdkDropList">
                <mat-card  *ngFor="let f of pendingArr; index as i" [cdkDragDisabled]="i === 0"  (cdkDrag)="i !== 0" [ngClass]="{'invisible': i === 0}" class="card-drag" style="margin: 10px 10px; border-radius: 0px;" fxLayoutAlign="space-between center">
                    <span class="span-class"><strong>{{f?.title}}</strong></span> 
                    <button (click)="editDialog(f,i)" *ngIf="i !==0" mat-icon-button><mat-icon>update</mat-icon></button>
                </mat-card>
            </div>

        </mat-card>

        <mat-card [style.width.px]="onMobile() ? '' : '500'" class="card" fxLayout="column" style="height: 470px; border-radius: 0px; border: 1px solid lightgray;">
            <div style="padding: 20px 10px;">
                <span style="background-color: #FFD89C; padding: 10px;"><strong>In Progress</strong></span>
            </div>

            <mat-divider></mat-divider>

            <div class="example-list" style="border-radius: 0px;" (cdkDropListDropped)="drop($event)" cdkDropList [cdkDropListData]="inProgressArr" #inProgressList="cdkDropList" [cdkDropListConnectedTo]="[doneList, pendingList]">
                <mat-card *ngFor="let f of inProgressArr; index as i" [cdkDragDisabled]="i === 0"  (cdkDrag)="i !== 0" [ngClass]="{'invisible': i === 0}"  class="card-drag" style="margin: 10px 10px; border-radius: 0px;" fxLayoutAlign="space-between center">
                    <span class="span-class"><strong>{{f?.title}}</strong></span> 
                    <button (click)="editDialog(f,i)" *ngIf="i !==0" mat-icon-button><mat-icon>update</mat-icon></button>
                </mat-card>
            </div>

        </mat-card>

        <mat-card [style.width.px]="onMobile() ? '' : '500'" class="card" fxLayout="column" style="height: 470px; border-radius: 0px; border: 1px solid lightgray;">
            <div style="padding: 20px 10px;">
                <span style="background-color: #A2CDB0; padding: 10px;"><strong>Finished</strong></span>
            </div>

            <mat-divider></mat-divider>

            <div class="example-list" style="border-radius: 0px;" (cdkDropListDropped)="drop($event)" cdkDropList [cdkDropListData]="finishedArr" #doneList="cdkDropList" [cdkDropListConnectedTo]="[inProgressList, pendingList]">
                <mat-card *ngFor="let f of finishedArr; index as i" [cdkDragDisabled]="i === 0"  (cdkDrag)="i !== 0" [ngClass]="{'invisible': i === 0}"  class="card-drag" style="margin: 10px 10px; border-radius: 0px;" fxLayoutAlign="space-between center">
                    <span class="span-class"><strong>{{f?.title}}</strong></span> 
                    <button (click)="editDialog(f,i)" *ngIf="i !==0" mat-icon-button><mat-icon>update</mat-icon></button>
                </mat-card>
            </div>
        </mat-card>

    </div>

</div>

<div *ngIf="tableView"  style="margin: 20px;" fxLayoutGap="40px" fxLayout="column">

    <table mat-table [dataSource]="pendingArr" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef><strong>Title</strong></th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> <strong>Description</strong> </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> <strong>Status</strong> </th>
          <td mat-cell *matCellDef="let element"> {{element.selection}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <table mat-table [dataSource]="inProgressArr" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef><strong>Title</strong></th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> <strong>Description</strong> </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> <strong>Status</strong> </th>
          <td mat-cell *matCellDef="let element"> {{element.selection}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <table mat-table [dataSource]="finishedArr" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef><strong>Status</strong></th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> <strong>Description</strong> </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> <strong>Weight</strong> </th>
          <td mat-cell *matCellDef="let element"> {{element.selection}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
